* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
width: 100vw;
height: 100vh;
background: rgb(32,0,36);
background: linear-gradient(47deg, rgba(32,0,36,1) 0%, rgba(56,9,121,1) 35%, rgba(0,255,106,1) 100%);
background-repeat: no-repeat;
}

.titler {
    color:#ffe6e6;
    text-shadow: 2px 2px 4px rgb(88, 85, 88);
 
}
.date {
    color: rgb(88, 85, 88);
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ffe6e6;
    
}
.container h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.formas{
    font-size: 15px;
}

.well h6 {
    font-size: 12px;
}

.insi {
    font-size: 15px;
}

.btn {
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover {
    box-shadow: 0 0 6px rgb(77, 77, 77);
}